.bao
    .bao__logo
        img(src='img/logo.svg' alt='logo')
    .bao__wrapper
        .bao__pic
            .bao__rulet
                picture.bao__rulet-img
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/rulet-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/rulet-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/rulet-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/rulet-desc.png")
                    img(src="img/usik-desc.png" alt="Favbet")
            .bao__womans
                picture.bao__wom1
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/wom1-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/wom1-mob.png")
                    source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/wom1-tab.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/wom1-desc.png")
                    img(src="img/usik-desc.png" alt="Favbet")
        .bao__info
            .bao__title Over 500 #[br] live games #[br] at Bao casino
            .bao__text Play and interact with live dealers
            a(href='#').bao__link Play in Live Games
    .bao__footer
        img(src='img/visa.svg' alt='visa')
        img(src='img/maestro.svg' alt='maestro')
        img(src='img/mastercard.svg' alt='mastercard')
        img(src='img/skrill.svg' alt='skrill')
        img(src='img/18plus.svg' alt='18plus')


